@import 'config';
@import 'utils';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $body-font;
    line-height: 1.5;
    background: $light-color;
}

header {  
    // Hero configuration
    .hero {
        background: $hero-bg-image no-repeat center center/cover;
        height: 100vh;
        position: relative;
        color: #fff;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }

        & * {
            z-index: 10;
        }

        .logo h1 {
            text-align: start;
            font-family: $logo-font;
        }

        // Navbar configuration
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $dark-color;
            color: #fff;
            opacity: 0.8;
            width: 100%;
            height: 70px;
            position: fixed;
            top: 0px;
            padding: 30px;

            a {
                font-family: $title-font;
                color: #fff;
                text-decoration: none;
                padding: 10px 20px;
                margin: 0 5px;

                &:hover {
                    color: $logo-color;
                    border-bottom: $logo-color 3px solid;
                }
            }

            ul {
                display: flex;
                list-style: none;
            }
        }

        // Content configuration
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-family: $body-font;
            text-align: center;
            padding: 0 20px;

            h1 {
                font-family: $title-font;
                font-size: 55px;
                color: $light-color;
                line-height: 1.2;
            }

            p {
                margin: 20px 0 20px;
                font-size: 23px;
                max-width: 600px;
            }

            a {
                font-family: $title-font;
                text-decoration: none;
                color: $light-color;
            }
        }
    } 
}

main {
    #about {
        .content-a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 100vh;
            font-family: $body-font;
            text-align: center;
            padding: 0 20px;
            background: $about-bg-image no-repeat center center/cover;
            background-color: $medium-color;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
            }
    
            & * {
                z-index: 10;
            }

            .about-text {
                font-family: $title-font;
                font-size: 55px;
                color: $logo-color;
                line-height: 1.2;
                padding: 20px 0 20px;
            }

            .img-a {
                height: 20%;
                margin-bottom: 10px 0 10px;
            }

            .body-text-a {
                font-size: 16px;
                color: #fff;
                margin: 20px 0 20px;
                max-width: 600px;
            }

            p {
                font-size: 23px;
                color: $light-color;
                margin: 20px 0 20px;
                max-width: 600px;
            }

            a {
                font-family: $title-font;
                text-decoration: none;
                margin: 20px 0 20px;
                color: $light-color;
            }
        }
    }

    #blog-articles {
        .content-b {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: $body-font;
            background-color: $medium-color;
            height: 100vh;

            .text-container {
                p{
                    font-size: 23px;
                    color: $light-color;
                    margin: 20px 0 20px;
                    max-width: 600px;
                }

                .body-text-b {
                    font-family: $body-font;
                    font-size: 16px;
                    max-width: 600px;
                    margin: 20px 0 20px;
                }

                .blog-text {
                    font-family: $title-font;
                    font-size: 55px;
                    line-height: 1.2;
                    color: #fff;
                    margin: 20px 0 20px;
                    padding: 20px 0 20px;
                }
            }

            .logos-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content:center; 
                max-width: 600px;
                margin: 20px 0 20px;

                p {
                    font-family: $body-font;
                    font-size: 16px;
                    text-align: center;
                    color: $dark-color;
                    max-width: 600px;
                }

                .front-logos {
                    display: inline-grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-gap: 50px;
                    max-width: 600px;
                    margin: 10px 0 10px;
                    color: $light-color;

                    .fa-html5 {
                        &:hover {
                            color: $logo-color;
                        }
                    }

                    .fa-css3-alt {
                        &:hover {
                            color: $logo-color;
                        }
                    }

                    .fa-sass {
                        &:hover {
                            color: $logo-color;
                        }
                    }

                    .fa-square-js {
                        &:hover {
                            color: $logo-color;
                        }
                    }

                    .fa-react {
                        &:hover {
                            color: $logo-color;
                        }
                    }
                }

                .back-logos {
                    display: inline-grid;
                    grid-template-columns: repeat(1, 1fr);
                    max-width: 600px;
                    margin: 10px 0 10px;
                    color: $light-color;

                    .fa-python {
                        &:hover {
                            color: $logo-color;
                        }
                    }
                }

                .containers {
                    display: inline-grid;
                    grid-template-columns: repeat(1, 1fr);
                    max-width: 600px;
                    margin: 10px 0 10px;
                    color: $light-color;

                    .fa-docker {
                        &:hover {
                            color: $logo-color;
                        }
                    }
                }

                .version-control {
                    display: inline-grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 50px;
                    max-width: 600px;
                    margin: 10px 0 10px;
                    color: $light-color;

                    .fa-square-git {
                        &:hover {
                            color: $logo-color;
                        }
                    }

                    .fa-square-github {
                        &:hover {
                            color: $logo-color;
                        }
                    }

                    .fa-square-gitlab {
                        &:hover {
                            color: $logo-color;
                        }
                    }
                }

                .cloud {
                    display: inline-grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 50px;
                    max-width: 600px;
                    margin: 10px 0 0 0;
                    color: $light-color;

                    .fa-aws {
                        &:hover {
                            color: $logo-color;
                        }
                    }

                    .fa-google {
                        &:hover {
                            color: $logo-color;
                        }
                    }
                }
            }
        }
    }
}