@import 'config';
@import 'utils';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    &home {
        font-family: $body-font;
        line-height: 1.5;
        background: $light-color;
    }
}

header {
    h1 {
        text-align: start;
        font-family: $logo-font;
    }

    // Navbar configuration
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $dark-color;
        color: #fff;
        opacity: 0.8;
        width: 100%;
        height: 70px;
        position: fixed;
        top: 0px;
        padding: 30px;

        a {
            font-family: $title-font;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            margin: 0 5px;

            &:hover {
                color: $primary-color;
                border-bottom: $primary-color 3px solid;
            }
        }

        ul {
            display: flex;
            list-style: none;
        }
    }

    // Hero page configuration
    .content {
        font-family: $body-font;

        h1 {
            font-family: $title-font;
            color: $light-color;
            line-height: 1.2;
        }

        p {
            margin: 10px 0;
        }

        a {
            font-family: $title-font;
            color: $light-color;
        }
    }
    
}