@import 'config';
@import 'utils';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $body-font;
    line-height: 1.5;
    background: $light-color;
}

header {  
    // Hero configuration
    .hero {
        background: $hero-bg-image no-repeat center center/cover;
        height: 100vh;
        position: relative;
        color: #fff;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }

        & * {
            z-index: 10;
        }

        .logo {
            text-align: start;
            font-family: $title-font;
        }

        // Navbar configuration
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $dark-color;
            color: #fff;
            opacity: 0.8;
            width: 100%;
            height: 70px;
            position: fixed;
            top: 0px;
            padding: 30px;

            a {
                font-family: $title-font;
                color: #fff;
                text-decoration: none;
                padding: 10px 20px;
                margin: 0 5px;

                &:hover {
                    color: $primary-color;
                }
            }

            ul {
                display: flex;
                list-style: none;
            }
        }

        // Header content configuration
        .content-a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-family: $body-font;
            text-align: center;
            padding: 0 20px;

            .title-text-a {
                font-family: $title-font;
                font-size: 55px;
                color: $light-color;
                line-height: 1.2;
                margin: 20px 0 20px;
            }

            .highlight-a {
                @extend %highlight;
            }

            .phrase-a {
                @extend %phrase;
            }

            p {
                font-family: $body-font;
                font-size: 25px;
                color: $light-color;
                margin: 10px 0 10px;
                max-width: 600px;
            }
        }
    } 
}

main {
    // About page configuration
    #about {
        .content-b {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 100vh;
            font-family: $body-font;
            text-align: center;
            padding: 0 20px;
            background: $about-bg-image no-repeat center center/cover;
            background-color: $medium-color;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
            }
    
            & * {
                z-index: 10;
            }

            .title-text-b {
                font-family: $title-font;
                font-size: 55px;
                color: $light-color;
                line-height: 1.2;
                padding: 20px 0 20px;

                .highlight-b {
                    @extend %highlight;
                }
            }

            .phrase-b {
                @extend %phrase;
            }

            p {
                font-family: $body-font;
                font-size: 25px;
                color: $light-color;
                margin: 5px 0 0 0;
                max-width: 600px;
            }

            .img-a {
                height: 20%;
                margin-bottom: 10px 0 10px;
            }

            .body-text-a {
                @extend %body-text;
            }
        }
    }

    // Articles page configuration
    #articles {
        .row {
            display: flex;
            flex-direction: row;
            position: relative;
            height: 100vh;
            width: 100%;
            background: $medium-color;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
            }

            .content-c {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 100%;
                width: 50%;
                padding: 0 30px;

                .title-text-c {
                    font-family: $title-font;
                    font-size: 55px;
                    color: $light-color;
                    line-height: 1.2;
                    margin: 20px 0 20px;

                    .highlight-c {
                        @extend %highlight;
                    }
                }

                .phrase-c {
                    @extend %phrase;
                }

                p {
                    font-family: $body-font;
                    font-size: 25px;
                    color: $light-color;
                    margin: 5px 0 0 0;
                }

                .body-text-b {
                    @extend %body-text;
                }

                & * {
                    z-index: 10;
                }
            }

            .content-d {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 100%;
                width: 50%;
                background-color: $primary-color;

                p {
                    font-family: $title-font;
                    font-size: 18px;
                    color: $light-color;
                }

                .front-logos {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-gap: 50px;
                    margin: 20px 0 20px;
                    
                    .fa-html5 {
                        @extend %icons-shared;
                    }

                    .fa-css3-alt {
                        @extend %icons-shared;
                    }

                    .fa-sass {
                        @extend %icons-shared;
                    }

                    .fa-square-js {
                        @extend %icons-shared;
                    }

                    .fa-react {
                        @extend %icons-shared;
                    }
                }

                .back-logos {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-gap: 50px;
                    margin: 20px 0 20px;
                    
                    .fa-python {
                        @extend %icons-shared;
                    }
                }
                
                .containers {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-gap: 50px;
                    margin: 20px 0 20px;
                    
                    @extend %icons-shared;
                }
                
                .version-control {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 50px;
                    margin: 20px 0 20px;
                    
                    .fa-square-git {
                        @extend %icons-shared;
                    }

                    .fa-square-github {
                        @extend %icons-shared;
                    }

                    .fa-square-gitlab {
                        @extend %icons-shared;
                    }
                }
                
                .cloud-database {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 50px;
                    margin: 20px 0 20px;
                    
                    .fa-aws {
                        @extend %icons-shared;
                    }

                    .fa-google {
                        @extend %icons-shared;
                    }
                }

                & * {
                    z-index: 10;
                }
            }
        }
    }

    // Portfolio page configuration
    #portfolio {
        .content-d {
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: $light-color;
            background-color: $medium-color;
            height: 50vh;
            width: 100%;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
            }
            
            & * {
                z-index: 10;
            }

            .title-text-d {
                font-family: $title-font;
                font-size: 55px;
                color: $light-color;
                line-height: 1.2;
                margin: 100px 0 0 0;
            }

            .highlight-d {
                @extend %highlight;
            }

            .phrase-d {
                @extend %phrase;
            }

            p {
                font-family: $body-font;
                font-size: 25px;
                color: $light-color;
                margin: 5px 0 0 0;
            }

            .body-text-d {
                @extend %body-text;
            }
        }

        .portfolio-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            position: relative;
            background-color: $primary-color;
            align-items: center;
            justify-content: space-between;
            height: 50vh;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
            }
            
            & * {
                z-index: 10;
            }

            .videos {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .phrase-e {
                    @extend %phrase;
                }

                .fa-play {
                    @extend %icons-shared;
                    margin: 20px 0 20px;
                }

                .body-text-e {
                    font-family: $body-font;
                    font-size: 18px;
                    text-align: center;
                    color: $light-color;
                    max-width: 50%;
                }
            }

            .web-templates {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .phrase-f {
                    @extend %phrase;
                }

                .fa-code {
                    @extend %icons-shared;
                    margin: 20px 0 20px;
                }

                .body-text-f {
                    font-family: $body-font;
                    font-size: 18px;
                    text-align: center;
                    color: $light-color;
                    max-width: 50%;
                }
            }
        }
    }
}